@font-face {
    font-family: "MingLiU";
    src: url("mingliu.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "MingLiU";
    color: white;
}

body {
    background-color: black;
    margin: 80px 100px;
}
h1 {
    font-size: 50px;
}
h2 {
    margin-top: 50px;
}

a {
    .link {
        color: pink;
    }
    text-decoration: none;
}
a:hover {
    .link {
        color: rgb(255, 123, 145);
    }
}
a:visited, a:active {
    .link {
        color: rgba(232, 125, 180, 0.833);
    }
}